<%-include('_header') %>

</head>
<body> 

    <div class="container-fluid">
        <div class="card mb-3" style="width: 100%;">
            <div class="row">
              <div class="col-2" style="background-color: #ddd;">
                <br>
                <h4 class="text-center">Pay it Forward (logo)</h4>
                        <div class="text-center m-4">
                            <img src="..." class="rounded width=" width="10" height="10" alt="...">                        
                            <div class="row">
                                <div class="col">
                                    <div class="fw-bold">J. SMITH <i class="fas fa-tint"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="fw-bold fs-4"><i class="fas fa-mug-hot"></i> DASHBOARD</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="text-muted">USER INTERFACE</div>
                            </div>                         
                        </div>                       
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="fas fa-puzzle-piece"></i> BLOCKS</div>
                            </div>                         
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="fas fa-bolt"></i></i> ELEMENTS</div>
                            </div>                         
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="fas fa-puzzle-piece"></i> TABLES</div>
                            </div>                         
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="far fa-edit"></i> FORMS</div>
                            </div>                         
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="text-muted">BUILD</div>
                            </div>                         
                        </div>  
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="far fa-edit"></i> LAYOUT</div>
                            </div>                         
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="fas fa-trophy"></i> COMPONENTS</div>
                            </div>                         
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="fas fa-thumbtack"></i> MAIN MENU</div>
                            </div>                         
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="text-muted">PAGES</div>
                            </div>                         
                        </div>  
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="far fa-edit"></i> GENERIC</div>
                            </div>                         
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="far fa-flag"></i> ERROR</div>
                            </div>                         
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="fas fa-lock"></i> AUTHENTICATION</div>
                            </div>                         
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <div class="fs-5 fw-bold"> <i class="far fa-comments"></i> FORUM</div>
                            </div>                         
                        </div>
              </div>
              <div class="col">
                <div class="card-body">
                    <nav class="navbar navbar-light bg-light">
                        <div class="row">
                        <div class="container-fluid justify-content-start">
                            <button class="btn"><i class="fa fa-bars"></i></button>
                            <button class="btn"><i class="fas fa-search"></i></button>
                            <button class="btn"><i class="fas fa-wrench"></i></button>
                            <button class="btn"><i class="fas fa-paint-brush"></i></button>
                              <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  J. Smith
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                  <li><a class="dropdown-item" href="#">Profile</a></li>
                                  <li><a class="dropdown-item" href="#">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <div class="container-fluid">
                          <form class="d-flex">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                          </form>
                        </div>
                      </nav>
                   <br>
                   <table class="table table-striped container-fluid">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Fundraiser_ID</th>
                        <th scope="col">User_ID</th>
                        <th scope="col">Fundraiser_Title</th>
                        <th scope="col">Fundraiser_Desc</th>
                        <th scope="col">Fundraiser_Status</th>
                        <th scope="col">Fundraiser_Type</th>
                        <th scope="col">created_At</th>
                        <th scope="col">Allow_Comments</th>
                        <th scope="col">Allow_Donation</th>
                        <th scope="col">Allow_Search</th>
                        <th scope="col">Edit kineme</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>111</td>
                        <td>mamamo</td>
                        <td>Education</td>
                        <td>Education</td>
                        <td>pending</td>
                        <td>medical</td>
                        <td>2021-05-07</td>
                        <td>true</td>
                        <td>true</td>
                        <td>true</td>
                        <td>
                            <button type="button" class="btn btn-success">Edit</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>222</td>
                        <td>papamo</td>
                        <td>Gusto ko lang</td>
                        <td>secret</td>
                        <td>active</td>
                        <td>medical</td>
                        <td>2021-05-08</td>
                        <td>true</td>
                        <td>true</td>
                        <td>true</td>
                        <td>
                            <button type="button" class="btn btn-success">Edit</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>333</td>
                        <td>kuyamo</td>
                        <td>Cancer Patient</td>
                        <td>Cancer patient needs chemotherapy</td>
                        <td>active</td>
                        <td>medical</td>
                        <td>2021-05-11</td>
                        <td>true</td>
                        <td>true</td>
                        <td>true</td>
                        <td>
                            <button type="button" class="btn btn-success">Edit</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>444</td>
                        <td>atemo</td>
                        <td>Mcdo ni Jose</td>
                        <td>Nagccrave sa mcdo</td>
                        <td>pending</td>
                        <td>medical</td>
                        <td>2021-05-15</td>
                        <td>true</td>
                        <td>true</td>
                        <td>true</td>
                        <td>
                            <button type="button" class="btn btn-success">Edit</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>              
              </div>
            </div>
        </div>
    </div>
</body>
<%-include('_footer') %>
