@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#side {
    height: 100% !important;
    min-width: 250px;
    background-color: #DCDCDC;
    position: fixed;
    overflow-x: hidden;


}

#side a {
    display: block;
    list-style-type: none;
    padding: 15px 20px !important;
    color: #333;
    font-weight: 800;
    text-decoration: none;

}

#side a i {
    vertical-align: middle !important;
    padding: 0 20px 0 30px;
}

#side a:hover {
    background-color: #333;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}
